*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


.container {
  width: 1440px;
  margin: 0 auto;
}
form  {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}




.radioGroup {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.sectionGroup {
  display: flex;
}

button {
  width: 200px;
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 20px;
}

.listBySection {
  display: flex;
  gap: 40px;
}

.listGroup {
  width: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

p {
  font-weight: 900;
}

span {
  font-weight: 400;
  text-transform: capitalize;
}

.lists {
  display: flex;
  gap: 20px;
}