*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}

form {
  width: 200px;

}

dialog {
  margin: auto;
}

p {
  font-weight: bold;
}

span {
  font-weight: normal;
}

svg {
  width: 15px;
  height: 15px;
}

.gradeEditControls {
  width: 200px;
  display: flex;
  gap: 5px;
  justify-content:center;
}

.modalEdit {
  display: none;
}

.editModal .modalEdit {
  display: initial;
}

.editModal .modalAddNew {
  display: none;
}

.radioGroup {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.sectionGroup {
  display: flex;
  gap: 5px;
}

.listBySection {
  display: flex;
  gap: 40px;
}

.grades {
  width: 200px;
  display: flex;
  flex-direction: column;
}

