*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "League Spartan";
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 312px;
  margin-inline: 32px;
  display: flex;
  flex-direction: column;
}



body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  background-repeat: no-repeat;

}


button {
  border: none;
  background: none;
  width: 130px;
  height: 133px;
}

.header {
  padding-top: 32px;
}
.score {
  margin-bottom: 105px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 3px solid #FFFFFF4A;
  border-radius: 5px;
  align-items: center;
}
.title {
  font-size: 21px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: white;

}
h3 {

  text-shadow: #00000032 0 3px 3px;

}


.game {
  background-image: url(/projeler/tkm-design/assets/img/Path.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 282px;
  margin-bottom: 139px;

}

.paper {
  position: absolute;
  left: 10px;
}

.scissors {
  position: absolute;
  right: 10px;
}
.rock {
  position: absolute;
  bottom: 20px;
  right: 90px;
}

.rules {
  margin-bottom: 54px;
  padding-inline: 37px;
  padding-block: 11px;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 2.5px;
  border-radius: 10px;
  width: 180px;
  align-self: center;
}


@media (width >= 1366px) {
  .container {
    width: 1366px;
    margin-inline: auto;
  }

  .header {
    width: 700px;
    margin-inline: auto;

  }
  .game {
    width: 476px;
    margin-inline: auto;
  }
  
  button {
    width: 198px;
    height: 203px;
  }
  .score img {
    width: 150px;
    height: 114px;
  }
  h3 {
    font-size: 40px;
    line-height: 28px;
  }
  .game {
    background-size: 50%;
  }
  .paper {
    left: 70px;
    top: -50px;
  }
  .scissors {
    top: -50px;
  }

  .rock {
    bottom: -30px;
    right: 110px;
  }

  .rules {
    align-self: flex-end;
    margin-bottom: 182px;
  }

  .rules:hover {
    background-color: white;
    color: #3B4262;
  }


}