*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

dialog {
  margin: auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: black;
}

body {
  font-family: system-ui;
  background-color:antiquewhite;
}

.container {
  width: 900px;
  margin: 0 auto;

}
.intro {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

.var {
  color: rgb(215, 43, 215);
}

img {
  justify-self: center;
}

.string {
  color: rgb(103, 124, 231);
}

.varName {
  color: rgb(86, 136, 201);
}

img {
  object-fit:scale-down;

}


.constRef {
  display: flex;
  gap: 20px;
}

.image {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.pi {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.split {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  
}

p {
  max-width: 650px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
}