*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Inter';
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  background-color: #0D0714;
}

.container {
  margin: 0 auto;
  width: 432px;
  padding-top: 159px;
}

form {
  display: flex;
  gap: 11px;
}

.liste {
  list-style: none;
}

input {
  margin-bottom: 59px;
  width: 381px;
  height: 40px;
  border-radius: 10px;
  background-color: #0D0714;
  color: #777777;
  border: 1px solid #3E1671;
  padding-left: 15px;
}

li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #9E78CF;
  padding: 22px;
  background-color: #15101C;
  margin-bottom: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 0;
}

.tasks p {
  display: flex;
  gap: 20px;
}

.reset {
  color: white;
  padding: 3px 6px;
  background-color:  #9E78CF;
  border-radius: 6px;
  font-size: 14px;
}
button {
  background: none;
  border: none;
}

#add-task {
  background-color: #9E78CF;
  padding: 11.75px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.tasks p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  margin-bottom: 17px;
}