*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Poppins';
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 375px;
  padding: 88px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

form {
  display: flex;
  gap: 16px;
  width: 343px;
  padding-inline: 24px;
}

.formGroup {
  width: 87px;
  height: 76px;
}

input {
  width: 87px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: 1px solid #DCDCDC;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #151515;

}

label {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.25em;
  text-align: left;
  color: #716F6F;
}

h1 {
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 61.6px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #151515;
}

.purple {
  color: #854DFF;
}

button {
  border: none;
  background: none;
}

@media (width >= 1440px) {

  .container {
    margin: 0 auto;
    width: 840px;
    padding: 0;
  }



  h1 {
  font-size: 104px;
  font-style: italic;
  font-weight: 800;
  line-height: 114.4px;
  letter-spacing: -0.02em;
  text-align: left;

  }

  img {
    width: 96px;
    height: 96px;

  }

  button {
    align-self: flex-end;
  }


  input {
    width: 160px;
    height: 72px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;

  }

  form {
    width: 840px;
    gap: 32px;
    padding: 56px;

  }

  .formGroup {
    width: 160px;
    height: 130px;
  }

  .age {
    align-self: flex-start;
    padding-left: 56px;
  }

  sub {

    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FF5959;
  }

  .error-message {
    display: none;
  }
  .has-error input {
    border-color: red;
  }
  
  .has-error :is(label,textarea) {
    color: red;
  }

  .validated .formGroup:has(:invalid) .error-message {display: block;}
  .validated .formGroup:has(:invalid) :is(input, textarea) {border-color: red;}
  .validated .formGroup:has(:invalid) label {color: red;}

}