*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Atkinson Hyperlegible";
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


body {
  background-color: #FCFCFC;
}

.container {
  width: 327px;
  margin: 24px;

}

button {
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.menu-td {
  display: none;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: left;
  color: #152938;

}

.menu {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  padding: 10px 18.5px;
  border-radius: 20px;
  background-color: #FDA214;
  color: #FCFCFC;
}

.game-4x4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 40px;
  font-weight: 700;
  line-height: 49.6px;
  text-align: center;
  gap: 12.29px;
  margin-bottom: 102px;

}

.game-4x4 button {
  border-radius: 50%;
  width: 72.53px;
  height: 72.53px;
}
.closed {
  background-color: #304859;
}

.open {
  background-color: #BCCED9;
  color: #FCFCFC;
}

.selected {
  background-color: #FDA214;
  color: #FCFCFC;
}

.stats {
  display: flex;
  justify-content: space-between;
}
.time {
  background-color: #DFE7EC;
  padding: 10px 46px;

}
.moves {
  background-color: #DFE7EC;
  padding: 10px 46px;


}
.stats p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: center;
  color: #7191A5;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #304859;

}




.multiplayer p {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: center;
  color: #7191A5;
}

.multiplayer {
  display: flex;
  justify-content: space-between;
}

.player {
  padding: 10px 20px;
  background-color: #DFE7EC;
}

.selected-player {
  background-color: #FDA214;
  padding: 10px 20px;
  border-radius: 5px;

}

.selected-player :is(h4,p) {
  color: #FCFCFC;
}

.game-6x6 {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 9.12px;
  margin-bottom: 102px;
}

.game-6x6 button {
  border-radius: 50%;
  width: 46.88px;
  height: 46.88px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #152938;
  margin-bottom: 9px;

}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding: 24px;
  gap: 24px;
}

.winner p {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
  color: #7191A5;
}

.winner-stats p {
  font-size: 13px;
  font-weight: 700;
  line-height: 16.12px;
  text-align: left;

}
.winner-stats h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: right;

}

.total-time {
  display: flex;
  padding: 16px;
  gap: 124px;
  align-items: center;
  background-color: #DFE7EC;
  margin-bottom: 8px;
}

.moves-taken {
  display: flex;
  padding: 16px;
  gap: 46px;
  align-items: center;
  background-color: #DFE7EC;
}

.new-game {
  display: grid;
  gap: 16px;
}

.restart {
  padding: 12px 108px;
  background-color: #FDA214;
  color: #FCFCFC;
  border-radius: 20px;
}

.new-game a {
  padding: 12px 66px;
  background-color: #DFE7EC;
  color: #304859;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}


/*  */

.player-points {
  background-color: #DFE7EC;
  display: flex;
  padding: 11px 16px;
  gap: 133px;
  border-radius: 5px;
  margin-bottom: 8px;

}

.winning-player {
  gap: 70px;
  background-color: #152938;
}

.winning-player :is(h4 , p) {
  color: #FCFCFC;
}

@media (width >= 768px) {
  .container {
    width: 689px;
    padding: 39px;
  }
  .header {
    width: 689px;
    margin-bottom: 105px;
  }

  .header h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.6px;
    text-align: left;

  }


  .game-4x4 {
    width: 532px;
    padding-inline: 79px;
    gap: 20px;
  }
  .game-4x4 button {
    width: 118px;
    height: 118px;
    font-size: 56px;
    font-weight: 700;
    line-height: 69.44px;
    text-align: center;

  }
  .stats {
    padding-inline: 74px;
    gap: 30px;
  }


  .time {
    display: flex;
    align-items: center;
    gap: 105px;
    padding: 21px 25px;
  }
  
  .moves {
    display: flex;
    align-items: center;
    gap: 105px;
    padding: 21px 25px;

  }

  .menu {
    display: none;
  }
  .menu-td {
    display: flex;
    gap: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: center;

  }

  .menu-td button:first-child {
    background-color: #FDA214;
    padding: 13px 28px;
    border-radius: 20px;
    color: #FCFCFC;
  }

  .menu-td button:last-child {
    background-color: #DFE7EC;
    padding: 13px 24px;
    border-radius: 20px;
    color: #304859;
  }
  .multiplayer{
    gap: 11px;
  }

  .player {
    width: 164px;
    height: 80px;
    flex-shrink: 0;
  }
  .selected-player {
    width: 164px;
    height: 80px;
    flex-shrink: 0;

  }

  .game-6x6 {
    margin-inline: 59px;
    gap: 16px;
  }

  .game-6x6 button {
    width: 82px;
    height: 82px;
    font-size: 44px;
    font-weight: 700;
    line-height: 54.56px;
    text-align: center;


  }

  .winner {
    gap: 40px;
    padding: 56px;
  }

  .winner h5 {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.52px;
    text-align: center;

  }

  .winner p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.32px;
    text-align: center;
  }

  .winner h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39.68px;
    text-align: right;

  }
  .winner-stats {
    width: 542px;
  }
  .total-time {
    gap: 299px;
    padding: 17px 32px;
  }

  .moves-taken {
    gap: 170px;
    padding: 17px 32px;


  }
  .new-game {
    display: flex;
    gap: 14px;
  }

  .restart {
    width: 264px;
  }

  .new-game a {
    width: 264px;
  }
  /*  */




  .player-points {
    gap: 302px;
    padding: 17px 32px ;
    align-items: center;
  }

  .winning-player {
    gap: 222px;
  }


}


@media (width >= 1440px) {
  .container {
    width: 1110px;
    margin-inline: auto;
    padding: 0;
  }

  .header {
    width: 1110px;
  }

  .game-4x4 {
    padding: 0;
    margin-inline: auto;
  }
  .game-6x6 {
    padding: 0;
    margin-inline: auto;
    width: 572px;
    gap: 16px;

  }

  .stats {
    width: 540px;
    margin-inline: auto;
    padding: 0;
  }

  .player {
    width: 255px;
    height: 72px;
  }
  .selected-player {
    width: 255px;
    height: 72px;
  }

  .closed:hover {
    background-color: #6395B8;
  }
  .menu-td button:last-child:hover {
    background-color: #6395B8;
    color: #FCFCFC;
  }

  .menu-td button:first-child:hover {
    background-color: #FFB84A;
  }

  .winner {
    margin-inline: auto;
  }
}

