* {
  margin: 0;
  box-sizing: border-box;

  
  
}
body {
  width: 1440;
  background-color:#F4D04E;
}


.container {
  width: 384px;
  margin: auto;
  margin-top: 218.5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 8px 8px 0px 0px #000000;

  
  
}

.blogimg {
  margin: 24px;
  border-radius: 3%;
}

.content {
  width: 336px;
  margin: 24px;
  background-color: white;
  font-family: "Figtree";
}
.content h1 {
  font-size: 24px;
  margin-bottom: 12px;
}

.name {
  margin: 24px;
}
.name img {
  vertical-align: middle;
  margin-right: 12px;
  font-size: 14px;
  font-weight: bold;
}
.content h4 {
  width: 58px;
  font-size: 14px;
  background-color: #F4D04E;
  margin-bottom: 12px;
}
.content p {
  margin-bottom: 12px;
}
.content h1:hover {
  color: #F4D04E;
  cursor: pointer;

}
.container:hover {
  box-shadow: 16px 16px 0px 0px #000000;

}