
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  max-width: 1110px;
  margin-inline: 16px;
  padding-top: 18px;
}
body {
  background-color: #fff7f0;
  font-family: "Plus Jakarta Sans";
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;

}

a {
  text-decoration: none;
}

.btn {
  padding-block: 8px;
  padding-inline: 28px;
  background-color: #030303;
  display: inline-block;
  border-radius: 25px;
  color: #fff7f0;
}

.hero-text {
  text-align: center;
  margin-bottom: 32px;
  
}

.hero-text h1 {
  margin-bottom: 16px;
}

.raidus {
  border-radius: 5px;
}

.designs {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 100px;
}
.designs h3 {
  margin-bottom: 24px;
  padding-left: 24px;
  font-size: 24px;
  line-height: 30px;
  color: white;
}



.designs img {
  margin-left: auto;
  padding-top: 24px;
  padding-right: 24px;
  margin-bottom: 40px;
}

.graphic-design {
  background-color: #755cde;
  grid-column: auto / span 2;

}
.graphic-design img {


  margin-bottom: 94px;

}



.ui-design {
  background-color: #f6a560;
}

.app {
  background-color: #f39e9e;


}

.illus-design {
  background-color: #eb7565;
  grid-column: auto / span 2;
}

.illus-design img {
  margin-bottom: 16px;
}

.photo {
  background-color: #61c4b7;

}
.photo img {
  margin-bottom: 40px;

}

.motion {
  background-color: #552049;

}
.motion img {
  margin-bottom: 40px;

}

.user {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;

}

.user-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.user h3 {
  font-size: 26px;
  line-height: 33px;
}

.contact  {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: #030303;
  color: #fff7f0;
  text-align: center;
  padding-inline: 24px;
  margin-bottom: 40px;
  padding-block: 49px;
  border-radius: 10px;
}

.btn-orange {
  background-color: #EB7565;
  color: #fff7f0;
}



@media (width > 689px) {

  .container {
    margin-inline: 39px;
  }

  .designs {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);

  }
  .graphic-design {
    grid-row: auto / span 2;
  }


  .user {
    flex-direction: row;
    gap: 69px;
    position: relative;
    
  }
  .user-text {
    width: 339px;
    margin-left: auto;
    padding-right: 40px;
    text-align: left;
    align-items: flex-start;

  }
  .user img {
    position: absolute;
    left: -44px;
  }
}

@media (width >= 1100px) {

  .container {
    margin-inline: auto;
  }
  .designs {
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);

  }

  .contact {
    flex-direction: row;
    gap: 182px;
    padding-left: 65px;
    padding-block: 80px;

  }
  .contact-text {
    width: 540px;
    color: #FFF7F0;
    text-align: left;
  }
  .contact h2 {
    margin-bottom: 25px;
  }
  .contact p {
    color: #FFF7F0;
  }
  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 70.56px;

    
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
  
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    color: #7a746e;
    font-weight: 500;
  }

  .hero-text {
    text-align: center;
    margin-bottom: 80px;
    width: 752px;
    margin-inline: auto;
  }

  .user {
    gap: 125px;

  }

  .user-text {
    margin-left: 0;
    width: 540px;
    padding-right: 0;
  }
  .user-text br {
    display: none;
  }
  .user img {
    position: static;
    width: 445px;
    height: 445px;
  }
  .header .btn:hover {
    background-color: #755CDE;
  }

  .btn:hover {
    background-color: #F6A560;
  }
}
