*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Inter";

}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  width: 1110px;
  margin-inline: auto;
  padding-top: 90px;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav a {
  color: #5E607A;

}


.news-img {
  grid-area: hero;
}

.side {
  width: 350px;
  grid-area: side;
  background-color: #00001A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .line {
  width: 302px;
  color: #5E607A;
  margin-bottom: 31px;
} */


.news-h1 {
  grid-area: h1;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;

}

.hero-context {
  grid-area: context;
}


.news {
  display: grid;
  gap: 28px 30px;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  'hero hero side'
  'h1 context side';
  margin-bottom: 71px;
}




.side h2 {

  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #E9AA52;
  align-self:flex-start;
  padding-left: 24px;
  margin-bottom: 34px;
  padding-top: 32px;

}

a {
  text-decoration: none;
}

p {

  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #5E607A;

}

.side-news-item {
  width: 302px;
  margin-bottom: 31px;
  padding-bottom: 29px;
  border-bottom: 1px solid #5E607A;


}

.side-news-item a {
  color: #FFFDFA;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
  display: inline-block;

}


.side-news-item p {
  color: #C5C6CE;
}
.hero-context p {
  margin-bottom: 29px;
}

.hero-context a {
  color: #FFFDFA;
  background-color: #F15D51;
  padding-inline: 33px;
  padding-block: 13px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  text-align: left;

}

.no-border {
  border-bottom: 0px;
  padding-bottom: 0;
}


.bottom-news {
  display: flex;
  gap: 30px;
  margin-bottom: 129px;
}

.bottom-news-item {
  width: 350px;
  display: flex;
  gap: 24px;
}
.bottom-news-item-context h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #C5C6CE;
  margin-bottom: 12px;

}

.bottom-news-item-context a {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  color: #00001A;
  margin-bottom: 9px;

}

.header-nav a:hover {
  color: #F15D51;
}

.hero-context a:hover {
  background-color: #00001A;
}

.side-news-item a:hover {
  color: #E9AA52;
}

.bottom-news-item-context a:hover {
  color: #F15D51;
}